:root {
    --main-bg-color: #4CAF50;
    --dark-bg-color: #333;
    --dark-bg-hover: #666;
    --light-bg-color: #ccc;
    --dark-text-color: #f0f0f0;
    --dark-svg-bg: #444;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    flex-direction: column;
    height: 25vh;
}

svg {
    border: 1px solid var(--light-bg-color);
}

.h1 {
    margin-top: 10px;
}

.point {
    cursor: pointer;
}

.button, .custom-file-upload {
    background-color: var(--main-bg-color);
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover, .custom-file-upload:hover {
    background-color: #45a049;
}

.dark-mode {
    background-color: var(--dark-bg-color);
    color: white;
}

.dark-mode svg {
    background-color: var(--dark-svg-bg);
}

.dark-mode .button, .dark-mode .custom-file-upload {
    background-color: #555;
    color: var(--dark-text-color);
}

.dark-mode .button:hover, .dark-mode .custom-file-upload:hover {
    background-color: var(--dark-bg-hover);
}
